<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WaterTankTool_WFA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.windows.forms.dpiAware xmlns="http://schemas.microsoft.com/.NETFramework/v2.0">
		true
	</system.windows.forms.dpiAware>
 <userSettings>
  <WaterTankTool_WFA.Settings>
   <setting name="WindowMaximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>300, 300</value>
   </setting>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </WaterTankTool_WFA.Settings>
 </userSettings>
</configuration>
